{% extends "layouts/base.twig" %}

{% set palette = 'cream' %}

{% block pageBody %}
  <div class="grid grid-cols-3 gap-gutter auto-rows-auto pt-topper-margin px-site-padding">
    <header class="text-foreground flex flex-col gap-2 col-start-2 col-span-2">
      <h1 class="font-display uppercase text-giant font-medium">{{ page.title }}</h1>

      {% if page.meta('introduction') %}
        <p class="font-serif font-medium max-w-[40ch]">{{ page.meta('introduction')|striptags('<em><strong><a>')|raw }}</p>
      {% endif %}
    </header>

    <form
      class="col-start-1 row-start-1 row-span-2 h-fit max-w-[400px] text-foreground sticky top-site-padding"
      hx-get="{{ page.link }}"
      hx-trigger="change, input changed delay:500ms"
      hx-target="#resource-index"
      hx-select="#resource-index"
      hx-swap="outerHTML"
      hx-replace-url="true"
    >
      <div class="w-full pr-2 flex gap-1 items-center justify-between border border-dashed border-foreground">
        <input
          class="w-full bg-background text-foreground px-3 py-2 text-sm placeholder:text-foreground placeholder:opacity-30"
          type="search"
          name="query"
          placeholder="Search"
          {% if query %}value="{{ query }}"{% endif %}
        >

        <svg class="h-4 w-4 text-foreground" aria-hidden="true">
          <use xlink:href="#search"></use>
        </svg>
      </div>

      <fieldset class="flex flex-col gap-2 mt-8">
        <legend class="block mb-4 pb-2 font-serif font-medium text-xl border-b border-foreground w-full">Interventions</legend>

        {% for intervention in interventions %}
          <label class="flex gap-2 items-center cursor-pointer">
            <span class="relative rounded-full border border-foreground aspect-square h-4 w-4 shrink-0">
              <input
                id="{{ intervention.slug }}"
                class="absolute inset-0 opacity-0 peer"
                type="checkbox"
                name="interventions[]"
                value="{{ intervention.id }}"
                {% if intervention.id in selected_interventions %}checked{% endif %}
              />

              <span class="aspect-square w-[60%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full transition-colors peer-checked:bg-foreground"></span>
            </span>

            <span class="text-sm translate-y-[0.05rem]">{{ intervention.title }}</span>
          </label>
        {% endfor %}
      </fieldset>
    </form>

    <div class="border-t border-dotted border-foreground row-start-2 col-start-2 col-span-2">
      {% include 'templates/components/resource-index.twig' with {
        resources: resources
      } %}
    </div>
  </div>
{% endblock %}
