{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  {{ article.is_light_nav ? 'light-nav' }}
{%- endblock -%}

{%- block custom_content_classes -%}
  basic-page
{%- endblock -%}

{% block pageBody %}

  <div class="topper topper--text-only">
    <div class="topper-hgroup">
      {% include 'components/articles/overline.twig' %}

      <h1 class="topper-hed">This page is password protected.</h1>
    </div>
  </div>

  <div class="article-body">
    <div class="article-body-width">
      <form class="password-form" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">
        <div class="form__field">
          <label for="pwbox-{{ post_id }}" class="visually-hidden">Enter the password:</label>
          <input class="form__input" name="post_password" id="pwbox-{{ post_id }}" type="password" placeholder="Enter Password"/>
          <button class="form__submit" type="submit" name="Submit">Submit</button>
        </div>
        {% if error %}<p class="form__error active">{{ error }}</p>{% endif %}
      </form>
    </div>
  </div>

{% endblock %}
