<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="{{ theme.link }}/dist/static/app.css?v={{ theme_version }}" type="text/css" media="all" />
  <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
  <link rel="preload" href="/wp-content/themes/the-equity-fund/static/fonts/judge/F37Judge-MediumCondensed.woff" as="font" type="font/woff" crossorigin="anonymous">

  <link rel="icon" href="{{ theme.link }}/static/img/favicon.ico" sizes="any">
  <link rel="icon" href="{{ theme.link }}/static/img/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ theme.link }}/static/img/apple-touch-icon.png">
  <link rel="manifest" href="{{ theme.link }}/static/img/site.webmanifest">
  <meta name="theme-color" content="#C4B3E0">

  {% if wp_env == 'production' %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2WXQMSR');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  {{ function('wp_head') }}
</head>
