{% if people|length %}
<section
  class="text-foreground"
  data-block="people"
  {% if headline %}aria-label="{{ headline }}"{% endif %}
>
  {% include 'templates/components/block-header.twig' with {
    title: headline
  } %}

  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-gutter mt-gutter">
    {% for person in people %}
      {% set position = person.meta('position') %}

      {% set socials = {
        'LinkedIn': person.meta('linkedin'),
        'Instagram': person.meta('instagram'),
        'Twitter': person.meta('twitter'),
      } %}

      <li class="flex flex-col gap-3">
        {% if person.thumbnail %}
          {% include 'templates/components/lazy-img.twig' with {
            class: 'w-full',
            img: Image(person.thumbnail),
            aspectRatio: 'square'
          } %}
        {% endif %}

        <div class="flex flex-col gap-2">
          <h3 class="text-h3 font-serif">{{ person.title }}</h3>

          {% if position %}
            <p class=" font-sans-narrow font-bold text-p">{{ position }}</p>
          {% endif %}

          {% if person.preview %}
            <p class="text-p">{{ person.preview.read_more('') }}</p>
          {% endif %}

          <div class="flex gap-1">
            {% for type, url in socials %}
              {% if url %}
                <a class="group" href="{{ url }}">
                  <span class="sr-only">{{ type }}</span>
                  <svg class="aspect-square h-8 w-8 group-hover:text-lavender transition-colors" aria-hidden="true">
                    <use xlink:href="#{{ type|lower }}"></use>
                  </svg>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
