{% if posts|length %}
<section
  class="palette-cream text-foreground"
  aria-label="{{ headline }}"
  data-block="featured-content"
>
  {% include 'templates/components/block-header.twig' with {
    title: headline,
    link: cta
  } %}

  <ul>
    {% for post in posts %}
      {% set issue = post.issue %} {# Both `Post` and `Resource` have `issue` #}

      <li>
        {% if post.thumbnail %}
          {% include 'templates/components/lazy-img.twig' with {
            class: 'w-full',
            img: Image(post.thumbnail),
          } %}
        {% endif %}

        <div>
          {% if issue %}
          <a href="{{ issue.link }}">{{ issue.title }}</a>
          {% endif %}

          <h3>{{ post.title }}</h3>

          <p>{{ post.preview.read_more('') }}</p>

          {% if post.type == 'resource' %}
            <a class="button flex items-center gap-2" href="{{ post.meta('file').url }}" target="_blank" rel="noopener noreferrer">
              <svg class="w-4 h-4" aria-hidden="true">
                <use xlink:href="#download"></use>
              </svg>

              Download
            </a>
          {% else %}
            <a class="button" href="{{ post.link }}">
              Read More
            </a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
