<header class="palette-lavender bg-background px-site-padding pb-12 md:pb-16 pt-topper-margin size-{{ size|default('large') }}">
  <div class="flex items-center justify-center mt-[2vw] relative">

    {% if image %}
      <figure class="{{ size == 'small' ? 'w-4/12' }} {{ size == 'medium' ? 'w-5/12' }} {{ size == 'large' ? 'w-6/12' }}">
        {% include 'templates/components/lazy-img.twig' with {
          img: get_image(image),
          aspectRatio: 'wide',
        } %}
      </figure>
    {% endif %}

    <h1 class="font-display text-yellow font-medium text-center uppercase leading-[0.8] text-[10vw] absolute top-[19vw]">
        {{ headline.first_line }} {{ headline.second_line }}
    </h1>
  </div>

  <div class="text-foreground pt-3 md:pt-5 lg:pt-36 text-center">
      <p class="text-base md:text-lg lg:text-xl font-serif mx-auto max-w-[50rem]">
          {{ introduction }}
      </p>
  </div>
</header>
