{% set palette = palette|default('lavender-light') %}
{% set layout = layout|default('image_grid') %}

<header class="landing-topper landing-topper--{{ layout }} palette-{{ palette }} bg-background text-foreground px-site-padding pt-topper-margin relative">

  {% if layout == 'image_grid' %}

    {% if images|length %}
      {% set midpoint = (images|length / 2)|round(0, 'floor') %}
      {% set imagesTop = images|slice(0, midpoint) %}
      {% set imagesBottom = images|slice(midpoint) %}

      <div class="landing-topper__images landing-topper__images--top sm:absolute inset-x-0 inset-y-0 sm:top-0">
        <div class="grid grid-cols-8 lg:grid-cols-12 grid-rows-1 w-full h-full pb-8 sm:pb-site-padding gap-4 md:gap-gutter sm:px-site-padding sm:pt-topper-margin">
          {% for image in imagesTop %}
            {% set imageClass = "" %}
            {% if loop.index == 1 %}
              {% set imageClass = "col-span-3 sm:col-span-2 sm:col-start-1 sm:col-end-3 lg:col-start-1 lg:col-end-3" %}
            {% elseif loop.index == 2 %}
              {% set imageClass = "col-span-3 col-start-6 col-end-9 sm:col-span-2 sm:col-start-7 sm:col-end-9 lg:col-start-11 lg:col-end-13" %}
            {% endif %}
            <div class="landing-topper__image {{ imageClass }} hover:z-20">
              {% include 'templates/components/lazy-img.twig' with { img: get_image(image) } %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="landing-topper__content flex items-center justify-center flex-col sm:px-site-padding h-full sm:py-[clamp(7rem,25vw,15rem)] lg:py-[20vh]">
      <h1 class="landing-topper__headline font-display font-medium uppercase text-headline text-center z-20 lg:max-w-[80rem]">{{ headline }}</h1>
      {% if introduction %}
        <p class="landing-topper__introduction rich-text text-h3 leading-[1.2] tracking-[0.01em] font-serif text-center w-full md:w-10/12 xl:w-6/12 z-20 mt-4">{{ introduction|striptags('<em><strong><a>')|raw }}</p>
      {% endif %}
    </div>

    {% if images|length %}
      <div class="landing-topper__images landing-topper__images--bottom sm:absolute inset-x-0 inset-y-0 sm:bottom-0">
        <div class="grid grid-cols-8 lg:grid-cols-12 grid-rows-1 w-full h-full pb-site-padding gap-4 md:gap-gutter sm:px-site-padding pt-8 sm:pt-topper-margin">
          {% for image in imagesBottom %}
            {% set imageClass = "" %}
            {% if loop.index == 1 %}
              {% set imageClass = "col-span-3 col-start-1 col-end-4 sm:col-span-2 sm:col-start-1 sm:col-end-3 lg:col-start-1 lg:col-end-3 self-end" %}
            {% elseif loop.index == 2 %}
              {% set imageClass = "col-span-3 col-start-6 col-end-9 sm:col-span-2 sm:col-start-7 sm:col-end-9 lg:col-start-11 lg:col-end-13 self-end" %}
            {% endif %}
            <div class="landing-topper__image {{ imageClass }} hover:z-20">
              {% include 'templates/components/lazy-img.twig' with { img: get_image(image) } %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  {% elseif layout == 'dual_image' %}

    <div class="landing-topper__content">
      <h1 class="landing-topper__headline font-display font-medium uppercase text-headline text-center">{{ headline }}</h1>
      {% if introduction %}
        <p class="landing-topper__introduction rich-text text-h3 leading-[1.2] tracking-[0.01em] font-serif text-center mt-4">{{ introduction|striptags('<em><strong><a>')|raw }}</p>
      {% endif %}
    </div>

    {% if images_dual|length %}
      <div class="landing-topper__images">
        {% for image in images_dual %}
          <div class="landing-topper__image landing-topper__image--{{ loop.index }}">
            {% include 'templates/components/lazy-img.twig' with { img: get_image(image) } %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

  {% elseif layout == 'single_image' %}

    <div class="landing-topper__content">
      {% if subtitle %}
        <p class="landing-topper__subtitle">{{ subtitle }}</p>
      {% endif %}
      <h1 class="landing-topper__headline font-display font-medium uppercase text-headline">{{ headline }}</h1>
      {% if introduction %}
        <p class="landing-topper__introduction rich-text text-h3 leading-[1.2] tracking-[0.01em] font-serif mt-4">{{ introduction|striptags('<em><strong><a>')|raw }}</p>
      {% endif %}
      {% if cta %}
        <a class="landing-topper__cta" href="{{ cta.url }}" target="{{ cta.target }}"{% if cta.target == '_blank' %} rel="noopener noreferrer"{% endif %}>{{ cta.title }}</a>
      {% endif %}
    </div>

    {% if image_single %}
      <div class="landing-topper__image">
        {% include 'templates/components/lazy-img.twig' with { img: get_image(image_single) } %}
      </div>
    {% endif %}

  {% endif %}

</header>
