<section
  class="palette-{{ palette|default('maroon') }} size-{{ size|default('large') }} bg-background text-foreground"
  data-block="tease"
  {% if overline %}aria-label="{{ overline }}"{% endif %}
>
  {% if overline %}
    <p class="uppercase font-bold max-md:text-sm tracking-wide">{{ overline }}</p>
  {% endif %}

  <h2 class="font-display uppercase text-h2 text-center">{{ headline }}</h2>

  {% if description %}
    <p>{{ description|striptags('<em><strong><a>')|raw }}</p>
  {% endif %}

  {% if cta %}
    <a href="{{ cta.url }}">{{ cta.title }}</a>
  {% endif %}

  {% if image %}
    {% include 'templates/components/lazy-img.twig' with {
      img: image
    } %}
  {% endif %}
</section>
