<section class="palette-{{ palette|default('maroon') }} bg-background text-foreground" data-block="tease">
  {% if overline %}
    <p>{{ overline }}</p>
  {% endif %}

  <h2>{{ headline }}</h2>

  {% if description %}
    <p>{{ description|striptags('<em><strong><a>')|raw }}</p>
  {% endif %}

  {% if cta %}
    <a href="{{ cta.url }}">{{ cta.title }}</a>
  {% endif %}

  {% if image %}
    {% include 'templates/components/lazy-img.twig' with {
      img: image
    } %}
  {% endif %}
</section>
