<section
  class="palette-{{ palette|default('maroon') }} size-{{ size|default('large') }} bg-background text-foreground px-site-paddding"
  data-block="tease"
  {% if overline %}aria-label="{{ overline }}"{% endif %}
>
  <div class="px-site-padding py-10 lg:p-site-padding grid grid-cols-1 lg:items-center lg:grid-cols-2 gap-gutter">
    <div class="flex flex-col gap-4 lg:gap-6 items-center text-center max-lg:order-2">
      {% if overline %}
        <p class="uppercase font-bold max-lg:text-sm tracking-wide">{{ overline }}</p>
      {% endif %}

      <h2 class="font-display uppercase  font-medium text-center {{ size == 'large' ? 'text-giant' : 'text-h2' }}">{{ headline }}</h2>

      {% if description %}
        <p class="max-w-[37.5rem] text-h6 leading-[1.4] font-serif">{{ description|striptags('<em><strong><a>')|raw }}</p>
      {% endif %}

      {% if cta %}
        <a
          class="uppercase leading-[1] text-sm lg:text-base font-bold tracking-wide px-4 py-3 text-button-foreground bg-button-background hover:bg-button-foreground hover:text-button-background transition-all"
          href="{{ cta.url }}"
        >
          {{ cta.title }}
        </a>
      {% endif %}
    </div>

    <div class="max-lg:order-1">
      {% if image %}
        {% include 'templates/components/lazy-img.twig' with {
          img: image,
        } %}
      {% endif %}
    </div>
  </div>
</section>
