{% set socials = {
  'Vimeo': options.social.vimeo,
  'LinkedIn': options.social.linkedin,
  'Twitter': options.social.twitter,
  'Instagram': options.social.instagram,
  'Facebook': options.social.facebook,
} %}

<footer class="p-site-padding palette-maroon text-foreground bg-background">
  <a class="block w-fit" href="{{ site.url }}">
    <span class="sr-only">Home</span>
    <svg class="w-48 h-20" aria-hidden="true">
      <use xlink:href="#logo"></use>
    </svg>
  </a>

  <div class="grid md:grid-cols-2 gap-gutter mb-16 md:mb-24">
    {% if options.footer.mission_statement %}
    <p class="rich-text max-w-2xl text-body-text leading-[1.4]">{{ options.footer.mission_statement|striptags('<em><strong><a>') }}</p>
    {% endif %}

    {% if nav_footer_menu.items|length %}
    <ul class="sm:columns-2">
      {% for item in nav_footer_menu.items %}
      <li class="mb-2">
        <a class="font-serif text-h3 hocus:bg-foreground hocus:text-background decoration-2 underline-offset-2 px-1 -ml-1 transition-colors aria-current:underline hocus:no-underline" href="{{ item.url }}" {% if item.current %}aria-current="page"{% endif %}>{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="pt-4 flex max-md:flex-col md:items-center gap-y-2 gap-x-6 border-t-2 border-foreground">
    <p class="text-body-text">© {{ 'now'|date('Y') }} The Climate & Clean Energy Equity Fund.</p>

    {% if nav_legal_menu.items|length %}
    <nav aria-label="Legal">
      <ul class="flex items-center gap-4">
        {% for item in nav_legal_menu.items %}
        <li class="leading-none">
          <a class="text-body-text" href="{{ item.url }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}

    <nav class="flex items-center gap-3 md:ml-auto" aria-label="Social">
      <span class="text-body-text">Follow us:</span>

      {% for type, url in socials %}
        {% if url %}
        <a href="{{ url }}">
          <span class="sr-only">{{ type }}</span>
          <svg class="aspect-square h-8 w-8 hocus:text-cream transition-colors" aria-hidden="true">
            <use xlink:href="#{{ type|lower }}"></use>
          </svg>
        </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</footer>
