{% if grantees|length %}
<section
  class="palette-cream text-foreground flex flex-col gap-gutter"
  data-block="grantees"
  {% if headline %}aria-label="{{ headline }}"{% endif %}
>
  {% if headline %}
    {% include 'templates/components/block-header.twig' with {
      title: headline,
    } %}
  {% endif %}

  <ul class="grid grid-cols-3 gap-gutter">
    {% for grantee in grantees %}
      {% set headingTag = headline ? 'h3' : 'h2' %}
      {% set issue = grantee.issue() %}

      <li>
        {% if grantee.thumbnail %}
          {% include 'templates/components/lazy-img.twig' with {
            class: 'w-full',
            img: Image(grantee.thumbnail),
          } %}
        {% endif%}

        <{{ headingTag }}>
          <a href="{{ grantee.link }}">
            {{ grantee.title }}
          </a>
        </{{ headingTag }}>

        {% if grantee.excerpt %}
          <p>{{ grantee.excerpt.read_more('') }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
