{% set palette = palette|default('cream') %}

<header class="palette-{{ palette }} bg-background px-site-padding pb-12 md:pb-16 pt-topper-margin md:pt-topper-margin-lg">
  <div class="flex flex-col items-center gap-8 lg:gap-10 lg:w-10/12 xl:w-8/12 mx-auto">
    <div class="flex flex-col gap-5 md:gap-6 text-body-text font-sans-narrow leading-[1] items-center text-foreground max-md:text-center">
      {% if tag %}
        <a class="font-bold text-foreground hocus:text-background transition-colors hocus:bg-foreground px-1 py-1 -translate-x-1 -m-1 leading-[1]" href="{{ tag.link }}">{{ tag.title }}</a>
      {% endif %}
      <h1 class="font-serif text-foreground text-h2 text-center max-w-article-wide">{{ title }}</h1>
      {% if bylines|length %}
        <p>By {% for byline in bylines %}{{ byline }}{% if loop.index < loop.length - 1 %}, {% endif %}{% if loop.index == loop.length - 1 %} and {% endif %}{% endfor %}</p>
      {% endif %}
    </div>

    {% if image %}
      {% include 'templates/components/figure.twig' with {
        class: 'w-full',
        img: image,
      } %}
    {% endif %}
  </div>
</header>
