<header class="palette-lavender bg-background px-site-padding pb-12 md:pb-16 pt-topper-margin size-{{ size|default('large') }}">
  <div class="flex items-center justify-center mt-[2vw]">
    <h1 class="text-foreground text-center uppercase leading-[0.8] {{ size == 'small' ? 'text-[20vw]'}} {{ size == 'medium' ? 'text-[25vw]'}} {{ size == 'large' ? 'text-[35vw]' }}">
      <span class="font-display font-medium whitespace-nowrap">{{ headline.first_line }}</span><br>
      <span class="font-display font-medium whitespace-nowrap">{{ headline.second_line }} </span>
    </h1>

    {% if image %}
      <figure class="{{ size == 'small' ? 'w-4/12' }} {{ size == 'medium' ? 'w-5/12' }} {{ size == 'large' ? 'w-6/12' }} absolute">
        {% include 'templates/components/lazy-img.twig' with {
          img: Image(image),
          aspectRatio: 'wide',
        } %}
      </figure>
    {% endif %}
  </div>

  <div class="{% if description %}grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-4 md:gap-gutter{% endif %} text-foreground pt-3 md:pt-5 lg:pt-8">
    <p class="text-h2 font-serif {{ description ? 'lg:col-span-6' : 'md:w-9/12 lg:w-7/12 mx-auto text-center' }}">{{ introduction }}</p>

    {% if description %}
      <p class="rich-text text-body-text lg:col-span-4 lg:col-start-8 lg:col-end-12">
        {{ description|striptags('<em><strong><a>')|raw }}
      </p>
    {% endif %}
  </div>
</header>
