<header class="palette-lavender text-foreground grid lg:grid-cols-2 lg:items-stretch auto-rows-auto">
  {% if image %}
    <div class="bg-background flex flex-col justify-center items-center lg:min-h-screen">
      <div class="w-full lg:w-1/2 max-lg:p-site-padding max-lg:pt-topper-margin">
        {% include 'templates/components/lazy-img.twig' with {
          img: image,
        } %}
      </div>
    </div>
  {% endif %}

  <div class="flex flex-col items-center justify-center gap-6 lg:gap-8 max-w-2xl mx-auto p-site-padding pt-12 lg:pt-topper-margin-lg">
    <span class="uppercase font-bold max-lg:text-sm tracking-wide">{{ overline }}</span>
    <h1 class="font-display font-medium uppercase text-giant text-center">{{ title }}</h1>

    {% if description %}
      <p class="rich-text text-center font-serif text-2xl">{{ description }}</p>
    {% endif %}

    {% if cta %}
      <a class="button" href="{{ cta.link }}">{{ cta.title }}</a>
    {% endif %}
  </div>
</header>
