<header class="palette-lavender text-foreground grid md:grid-cols-2 md:items-stretch auto-rows-auto">
  {% if image %}
    <div class="bg-background flex flex-col justify-center items-center lg:min-h-screen">
      {% include 'templates/components/lazy-img.twig' with {
        class: 'w-full lg:w-1/2 max-md:p-12 max-md:pt-topper-margin max-lg:p-site-padding',
        img: image,
      } %}
    </div>
  {% endif %}

  <div class="flex flex-col items-center justify-center gap-6 md:gap-8 max-w-2xl mx-auto p-site-padding pt-12 md:pt-topper-margin-lg">
    <span class="uppercase font-bold max-md:text-sm tracking-wide">{{ overline }}</span>
    <h1 class="font-display uppercase text-giant text-center">{{ title }}</h1>

    {% if description %}
      <p class="text-center font-serif text-2xl">{{ description }}</p>
    {% endif %}

    {% if cta %}
      <a class="button" href="{{ cta.link }}">{{ cta.title }}</a>
    {% endif %}
  </div>
</header>
