{#
---------------------------------------------------------------------------
Pagination
---------------------------------------------------------------------------
#}

{% if pagination.pages %}
<nav class="pagination" role="navigation" aria-label="Pagination Navigation">
  {% set prev = pagination.prev %}
  {% set next = pagination.next %}

  <ul class="pagination__list">

    <li class="pagination__next-prev previousPage">
      {% if prev %}
      <a href="{{ prev.link }}" class="pagination__next-prev-button" aria-label="Previous Page">
        Previous
      </a>
      {% else %}
      <span class="pagination__next-prev-button disabled">
        Previous
      </span>
      {% endif %}
    </li>

    {% for page_link in pagination.pages %}
    <li class="pagination__list-item {{ page_link.current ? 'selected' }}">
      {% if page_link.link %}
        <a href="{{ page_link.link }}" class="pagination__link" aria-label="{{ 'Page ' ~ page_link.title }}">{{ page_link.title }}</a>
      {% else %}
        <span class="pagination__link" aria-label="{{ 'Page ' ~ page_link.title }}">{{ page_link.title }}</span>
      {% endif %}
    </li>
    {% endfor %}

    <li class="pagination__next-prev nextPage">
      {% if next %}
      <a href="{{ next.link }}" class="pagination__next-prev-button" aria-label="Next Page">
        Next
      </a>
      {% else %}
      <span class="pagination__next-prev-button disabled">
        Next
      </span>
      {% endif %}
    </li>

  </ul>

</nav>
{% endif %}
