{% if issues|length %}
<section
  class="palette-cream text-foreground"
  data-block="issues"
  aria-label="{{ headline }}"
>
  {% include 'templates/components/block-header.twig' with {
    title: headline,
  } %}

  <ul>
    {% for issue in issues %}
      {% set grantee_count = issue.grantees()|length %}

      <li class="border-b group hocus-within:bg-yellow transition-colors border-foreground border-dotted relative py-2 md:py-4 flex gap-4 sm:justify-between sm:items-center max-sm:flex-col">
        <h3 class="text-h2">
          <a class="after:inset-0 after:absolute" href="{{ issue.link }}">
            <span class="block z-[10] group-hocus-within:translate-x-3 transition-transform font-serif-deck">{{ issue.title }}</span>
          </a>
        </h3>

        {% if grantee_count %}
          <p class="text-body-text shrink-0 group-hocus-within:translate-x-3 sm:group-hocus-within:-translate-x-3 transition-transform">{{ grantee_count }} {{ grantee_count == 1 ? 'grantee' : 'grantees' }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
