<section
  class="palette-cream text-foreground"
  data-block="statement"
  {% if overline %}aria-label="{{ overline }}"{% endif %}
>
    {% if overline %}
      {% include 'templates/components/block-header.twig' with {
        title: overline,
      } %}
    {% endif %}

  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-12 gap-4 md:gap-gutter {{ overline == false ? 'border-t border-foreground pt-4' }} {{ overline == true ? 'pt-4' }}">
    <div class="flex flex-col gap-4 xl:col-span-5">
      {% if headline %}
        <p class="rich-text font-serif text-h3 leading-[1.1]">{{ headline|striptags('<em><strong><a>')|raw }}</p>
      {% endif %}


      {% if description %}
        <p class="rich-text text-body-text">
          {{ description|striptags('<em><strong><a>')|raw }}
        </p>
      {% endif %}

      {% if cta %}
      <a class="button" href="{{ cta.url }}">{{ cta.title }}</a>
    {% endif %}
    </div>

    {% if images|length %}
      <div class="flex items-end gap-site-padding md:gap-gutter xl:col-span-6 xl:col-end-13 max-md:mt-site-padding">
        {% for image in images %}
          {% include 'templates/components/lazy-img.twig' with {
            class: 'w-full',
            img: Image(image),
            aspectRatio: images|length == 1 ? 'horizontal',
          } %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
