{% set title = title|default('Recent') %}

{% if articles|length %}
<section id="article-index" class="px-site-padding text-foreground" aria-label="{{ title }}">
  <h2 class="uppercase font-display font-medium text-h3 border-b-2 border-foreground pb-1">{{ title }}</h2>

  <ol class="divide-y divide-foreground">
    {% for article in articles %}
      {% set intervention = article.intervention %}

      <li class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-gutter py-site-padding border-dotted relative">
        {% if article.thumbnail %}
          {% include 'templates/components/lazy-img.twig' with {
            class: 'w-full',
            img: Image(article.thumbnail),
          } %}
        {% endif %}

        <div class="flex flex-col gap-2 md:col-start-2 z-10">
          {% if intervention %}
          <a class="font-bold w-fit" href="{{ intervention.link }}">{{ intervention.title }}</a>
          {% endif %}

          <h3 class="font-serif text-h3">
            <a href="{{ article.link }}">
              {{ article.title }}
            </a>
          </h3>

          <p class="mt-2 text-p">{{ article.preview.read_more('') }}</p>
        </div>
      </li>
    {% endfor %}
  </ol>

  <div class="border-t border-foreground border-dotted">
    {% include 'templates/components/pagination.twig' with {
      pagination: articles.pagination
    } %}
  </div>
</section>
{% endif %}
