{% set title = title|default('Recent') %}

{% if articles|length %}
<section id="article-index" class="px-site-padding" aria-label="{{ title }}">
  <h2>{{ title }}</h2>

  <ol>
    {% for article in articles %}
      {% set intervention = article.intervention %}

      <li>
        {% if article.thumbnail %}
          {% include 'templates/components/lazy-img.twig' with {
            img: Image(article.thumbnail),
          } %}
        {% endif %}

        <div>
          {% if intervention %}
          <a href="{{ intervention.link }}">{{ intervention.title }}</a>
          {% endif %}

          <h3>
            <a href="{{ article.link }}">
              {{ article.title }}
            </a>
          </h3>

          <p>{{ article.preview.read_more('') }}</p>
        </div>
      </li>
    {% endfor %}
  </ol>

  {% include 'templates/components/pagination.twig' with {
    pagination: articles.pagination
  } %}
</section>
{% endif %}
