<footer class="p-site-padding theme-maroon bg-background">
  <a class="block w-fit" href="{{ site.url }}">
    <span class="sr-only">Home</span>
    <svg class="w-48 h-20" aria-hidden="true">
      <use xlink:href="#logo"></use>
    </svg>
  </a>

  <div class="grid md:grid-cols-2 gap-gutter mb-16 md:mb-24">
    <p class="max-w-2xl">We invests in the leadership and organizing of diverse communities, including Black, Latinx, AAPI, Indigenous peoples, immigrants and other communities bearing the brunt of the fossil-fuel economy. We engage voters in these communities through year-round nonpartisan civic engagement and voter participation campaigns.</p>

    {% if nav_footer_menu.items|length %}
    <ul class="sm:columns-2">
      {% for item in nav_footer_menu.items %}
      <li class="mb-2">
        <a class="font-serif text-h3" href="{{ item.url }}">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="pt-4 flex max-md:flex-col md:items-center gap-y-2 gap-x-6 border-t-2 border-foreground">
    <p class="text-sm">© {{ 'now'|date('Y') }} The Climate & Clean Energy Equity Fund.</p>

    {% if nav_legal_menu.items|length %}
    <nav aria-label="Legal">
      <ul class="flex items-center gap-4">
        {% for item in nav_legal_menu.items %}
        <li class="leading-none">
          <a class="text-sm" href="{{ item.url }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}

    <nav class="flex items-center gap-3 md:ml-auto" aria-label="Social">
      <span class="text-sm">Follow us:</span>

      <a href="#">
        <span class="sr-only">Vimeo</span>
        <svg class="aspect-square h-8 w-8" aria-hidden="true">
          <use xlink:href="#linkedin"></use>
        </svg>
      </a>

      <a href="#">
        <span class="sr-only">LinkedIn</span>
        <svg class="aspect-square h-8 w-8" aria-hidden="true">
          <use xlink:href="#github"></use>
        </svg>
      </a>
    </nav>
  </div>
</footer>
