<header
  class="px-site-padding absolute top-wp-admin-bar inset-x-0 z-10 palette-{{ palette|default('cream') }} text-foreground"
  x-data="{ isMenuOpen: false }"
  @keydown.escape.window="isMenuOpen = false"
>
  <nav class="flex justify-between items-center border-b lg:border-b-2 border-foreground" aria-label="Header">
    <ul class="flex justify-between w-full items-stretch">
      <li>
        <a href="{{ site.url }}">
          <span class="sr-only">Home</span>
          <svg class="w-48 h-20" aria-hidden="true">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </li>

      {% for item in nav_pages_menu.items %}
        {% set hasChildren = item.children and item.children|length %}
        <li
          class="relative group max-lg:hidden"
          {% if hasChildren %}
          x-data="{ expanded: false }"
          @mouseenter="expanded = true"
          @mouseleave="expanded = false"
          @focusout="$event.relatedTarget && $event.relatedTarget.closest('.group') !== $el && (expanded = false)"
          {% endif %}
        >
          <a
            class="nav-link flex flex-col justify-center h-full text-h5 font-serif group-hocus-within:border-foreground group-hocus-within:border-b-4 border-b-transparent border-b-4 aria-current:border-b-foreground px-6 py-1.5 transition-colors"
            {% if item.current %}aria-current="page"{% endif %}
            href="{{ item.url }}"
          >
            {{ item.name }}
          </a>

          {% if hasChildren %}
          <button
            class="absolute right-0 top-1/2 -translate-y-1/2 flex flex-col items-center justify-center opacity-0 focus:opacity-100 aspect-square h-5 bg-foreground text-background rounded-full"
            @click="expanded = !expanded"
            :aria-expanded="expanded"
          >
            <svg class="h-2 w-2" aria-hidden="true">
              <use xlink:href="#caret-down"></use>
            </svg>

            <span class="sr-only">Toggle menu for {{ item.name }}</span>
          </button>

          <ul
            class="absolute z-20 top-full {% if loop.last %}right-0{% else %}left-0{% endif %} border-2 border-foreground divide-y-2 divide-foreground"
            x-show="expanded"
            x-cloak
          >
            {% for child in item.children %}
            <li class="">
              <a class="block text-xl font-serif px-3 py-2 min-w-[300px] bg-background hocus:text-background hocus:bg-foreground transition-colors" href="{{ child.url }}">{{ child.name }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <button
      class="lg:hidden text-h5 font-serif border border-foreground px-3 pb-2 py-1.5 h-fit"
      @click="isMenuOpen = !isMenuOpen"
      :aria-expanded="isMenuOpen"
      aria-haspopup="true"
      aria-controls="menu"
    >
      Menu
    </button>

    <template x-teleport="body">
      <div
        id="menu"
        class="fixed inset-x-0 bottom-0 top-wp-admin-bar h-screen w-full text-foreground bg-background z-50 palette-{{ palette|default('cream') }}"
        x-show="isMenuOpen"
        x-trap.noscroll="isMenuOpen"
        :aria-hidden="!isMenuOpen"
        aria-modal="true"
        aria-labelledby="menu-label"
        role="dialog"
      >
        <h2 id="menu-label" class="sr-only">Menu</h2>

        <div class="px-site-padding pb-site-padding h-full w-full overflow-auto flex flex-col gap-6">
          <div class="flex justify-between items-center border-b border-foreground">
            <a href="{{ site.url }}">
              <span class="sr-only">Home</span>
              <svg class="w-48 h-20" aria-hidden="true">
                <use xlink:href="#logo"></use>
              </svg>
            </a>

            <button class="text-h5 font-serif border border-foreground px-3 pb-2 py-1.5 h-fit" @click="isMenuOpen = false">
              Close
            </button>
          </div>

          <ul class="flex flex-col">
            {% for item in nav_pages_menu.items %}
              {% set hasChildren = item.children and item.children|length %}

              <li
                {% if hasChildren %}
                x-data="{ expanded: false }"
                {% endif %}
              >
                <div class="border-b-2 border-dotted border-foreground flex justify-between items-center py-2">
                  <a class="block text-6xl font-display font-medium uppercase pt-2" href="{{ item.url }}" {% if item.current %}aria-current="page"{% endif %}>
                    {{ item.name }}
                  </a>

                  {% if hasChildren %}
                  <button
                    class="bg-background text-foreground border border-foreground rounded-full aspect-square h-7 flex flex-col justify-center items-center"
                    @click="expanded = !expanded"
                    :aria-expanded="expanded"
                    aria-controls="menu-dropdown-{{ loop.index }}"
                  >
                    <svg class="h-3 w-3 translate-y-[0.1rem] transition-transform" :class="expanded && 'rotate-180 translate-y-[-0.06rem]'" aria-hidden="true">
                      <use xlink:href="#caret-down"></use>
                    </svg>
                    <span class="sr-only">Toggle menu for {{ item.name }}</span>
                  </button>
                  {% endif %}
                </div>

                {% if hasChildren %}
                <div
                  id="menu-dropdown-{{ loop.index }}"
                  class="grid grid-rows-[0fr] overflow-hidden transition-[grid-template-rows]"
                  :class="expanded && 'grid-rows-[1fr]'"
                >
                  <div
                    class="min-h-0 transition-all"
                    :class="expanded ? 'visible' : 'invisible'"
                  >
                    <ul
                      class="py-4"
                      :aria-hidden="!expanded"
                    >
                      {% for child in item.children %}
                      <li>
                        <a class="font-sans" href="{{ child.url }}">{{ child.name }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </template>
  </nav>
</header>
