{% if pagination.pages %}
<nav
  x-init
  class="flex justify-end py-4 gap-2 group"
  aria-label="Pagination"
  hx-target="{{ swap }}"
  hx-select="{{ swap }}"
  hx-indicator="{{ swap }}"
  hx-swap="outerHTML"
  hx-replace-url="true"
  x-on:htmx:before-request.camel="$event.detail.target.scrollIntoView({ behavior: $isReducedMotion() ? 'auto' : 'smooth' })"
>
  {% set prev = pagination.prev %}
  {% set next = pagination.next %}

  <button
    class="font-bold p-3 pb-2 leading-none [&:not(:disabled)]:hocus:bg-yellow transition-colors disabled:opacity-50"
    hx-get="{{ prev.link }}"
    hx-trigger="click"
    aria-label="Previous Page"
    {% if not prev %}disabled{% endif %}
  >
    ←
  </button>

  <ol class="flex gap-2 max-md:text-sm">
    {% for page in pagination.pages %}
    <li>
      <button
        class="font-bold p-3 pb-2 leading-none hocus:bg-yellow transition-colors aria-current:bg-yellow"
        hx-get="{{ page.link }}"
        hx-trigger="click"
        aria-label="{{ 'Page ' ~ page.title }}"
        {% if page.current %}
        aria-current="page"
        disabled
        {% endif %}
      >
        {{ page.title }}
      </button>
    </li>
    {% endfor %}
  </ol>

  <button
    class="font-bold p-3 pb-2 leading-none [&:not(:disabled)]:hocus:bg-yellow transition-colors disabled:opacity-50"
    hx-get="{{ next.link }}"
    hx-trigger="click"
    aria-label="Next Page"
    {% if not next %}disabled{% endif %}
  >
    →
  </button>
</nav>
{% endif %}
