<section id="resource-index" class="text-foreground [&.htmx-request]:opacity-20 transition-opacity" aria-label="Results">
  {% if resources|length %}
    <ol class="divide-y divide-foreground">
      {% for resource in resources %}
        {% set issue = resource.issue %}
        {% set file = resource.meta('file') %}

        <li class="grid grid-cols-2 gap-gutter py-12 border-dotted">
          {% if resource.thumbnail %}
            {% include 'templates/components/lazy-img.twig' with {
              class: 'w-full',
              img: Image(resource.thumbnail),
              aspectRatio: 'horizontal',
            } %}
          {% endif %}

          <div class="flex flex-col gap-3 col-start-2">
            {% if issue %}
            <a class="font-bold w-fit max-lg:text-sm hover:bg-foreground hover:text-background leading-[1.25]" href="{{ issue.link }}">{{ issue.title }}</a>
            {% endif %}

            <h3 class="font-serif text-h3">
              {{ resource.title }}
            </h3>

            <p class="mt-2 text-body-text">{{ resource.excerpt.read_more('') }}</p>

            {% if file %}
            <a class="button flex items-center gap-2" href="{{ file.url }}" target="_blank" rel="noopener noreferrer">
              <svg class="w-4 h-4" aria-hidden="true">
                <use xlink:href="#download"></use>
              </svg>

              Download
            </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>

    <div class="border-t border-foreground border-dotted">
      {% include 'templates/components/pagination.twig' with {
        swap: '#resource-index',
        pagination: resources.pagination
      } %}
    </div>
  {% else %}
    <p class="font-bold text-h6 py-4 mb-24">No results found.</p>
  {% endif %}
</section>
