{% if posts|length %}
<ul class="tease-list">
  {% for post in posts %}
    <li class="tease {{ post.thumbnail ? 'tease--image' : 'tease--no-image' }}">
      <div class="tease__inner">
        {% if post.thumbnail %}
          <div class="tease__art-mod">
            <a href="{{ post.link }}" class="tease__art__link" tabindex="-1">
              {% include 'templates/components/lazy-img.twig' with {
                img: post.thumbnail,
                class: "tease__art"
              } %}
            </a>
          </div>
        {% endif %}

        <div class="tease__text-mod">
          {% if post.overline %}
            <p class="tease__overline">
              <a href="/category/{{ post.overline.slug }}" class="tease__overline-link">
                {{ post.overline.name }}
              </a>
            </p>
          {% endif %}

          <a class="tease__hgroup" href="{{ post.link }}">
            <h3 class="tease__h"><span class="tease__h-underline">{{ post.title }}</span></h3>
            <p class="tease__desc">{{ post.preview.length(40).read_more('') }}</p>
          </a>

          {% if post.bylines is not empty %}
            <div class="tease__authors">
              {% include 'components/articles/byline_format.twig' with { bylines: post.bylines } %}
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endif %}
